#navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
    background-color: #0c1027;
}
.bold{
    font-weight:bold;
}
#loginButton,#signupButton{
    padding-left:10px;
}