.text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.link{
    text-decoration: none;
}
.black{
    color: black ;
}
.link:hover{
    color:rgb(37, 100, 234);
}
.p-20{
    padding:20px;
}
.m-20{
    margin:20px;
}
.white{
    color:white;
}

.inline{
    display: inline-block;
}

.monospace{
    font-family: monospace;
}