.text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.link{
    text-decoration: none;
}
.black{
    color: black ;
}
.link:hover{
    color:rgb(37, 100, 234);
}
.p-20{
    padding:20px;
}
.m-20{
    margin:20px;
}
.white{
    color:white;
}

.inline{
    display: inline-block;
}

.monospace{
    font-family: monospace;
}

.form{
    border-width:1px;
    padding:20px;
    border-radius:10px;
    background-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}